USE [master]
GO
/****** Object:  Database [ShopBanBep]    Script Date: 4/25/2025 9:44:31 AM ******/
CREATE DATABASE [ShopBanBep]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBanBep', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopBanBep.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopBanBep_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopBanBep_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopBanBep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopBanBep]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 4/25/2025 9:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[IdChiTietDH] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [nvarchar](100) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[IdSP] [int] NULL,
	[IdDonHang] [int] NULL,
 CONSTRAINT [PK__ChiTietD__0A783F443832FC6B] PRIMARY KEY CLUSTERED 
(
	[IdChiTietDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 4/25/2025 9:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[IdDanhMuc] [nvarchar](100) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[IdDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/25/2025 9:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[IdDonHang] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[DonGia] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[NgayTao] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[PhuongThucTraTien] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/25/2025 9:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IdKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[Email] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[IdKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 4/25/2025 9:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[IdLienHe] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[IdLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/25/2025 9:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[IdSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MoTaNgan] [nvarchar](max) NULL,
	[XuatXu] [nvarchar](100) NULL,
	[DonGia] [float] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[IdDanhMuc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[IdSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DanhMuc] ([IdDanhMuc], [TenDanhMuc]) VALUES (N'DM001', N'Rinai')
INSERT [dbo].[DanhMuc] ([IdDanhMuc], [TenDanhMuc]) VALUES (N'DM002', N'Kangaroo')
INSERT [dbo].[DanhMuc] ([IdDanhMuc], [TenDanhMuc]) VALUES (N'DM003', N'Sunhouse')
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([IdSP], [TenSP], [HinhAnh], [MoTaNgan], [XuatXu], [DonGia], [MoTa], [IdDanhMuc]) VALUES (1, N'Bếp ga đôi Sakura SA-717PG', N'bep-ga-doi-sakura-sa-717pg-1-700x467.jpg', N'Bếp ga có lượng ga tiêu thụ bếp trái 0.21 kg/h/lò, bếp phải 0.26 kg/h/lò tiết kiệm ga.', N'Việt Nam', 1590000, N'Bếp ga đôi Sakura SA-717PG sở hữu kiểu dáng đơn giản, màu sắc tối giản, sử dụng hệ thống đánh lửa Magneto độ bền cao, dễ dàng bật/tắt, điều chỉnh ngọn lửa, hỗ trợ nấu nướng tiện lợi.', N'DM001')
INSERT [dbo].[SanPham] ([IdSP], [TenSP], [HinhAnh], [MoTaNgan], [XuatXu], [DonGia], [MoTa], [IdDanhMuc]) VALUES (2, N'Bếp ga đôi Sakura SA-717PG', N'bep-ga-doi-sakura-sa-717pg-1-700x467.jpg', N'Bếp ga có lượng ga tiêu thụ bếp trái 0.21 kg/h/lò, bếp phải 0.26 kg/h/lò tiết kiệm ga.', N'Việt Nam', 1590000, N'Bếp ga đôi Sakura SA-717PG sở hữu kiểu dáng đơn giản, màu sắc tối giản, sử dụng hệ thống đánh lửa Magneto độ bền cao, dễ dàng bật/tắt, điều chỉnh ngọn lửa, hỗ trợ nấu nướng tiện lợi.', N'DM001')
INSERT [dbo].[SanPham] ([IdSP], [TenSP], [HinhAnh], [MoTaNgan], [XuatXu], [DonGia], [MoTa], [IdDanhMuc]) VALUES (3, N'Bếp ga đôi Rinnai RV-MC27BE', N'rinnai-rv-mc27be-3-700x467.jpg', N'Bếp ga vận hành với lượng ga tiêu thụ 0.42 kg/h/lò.', N'Việt Nam', 1190000, N'Bếp ga Rinnai RV-MC27BE là loại bếp cơ bản với 2 vùng nấu dễ sử dụng, trang bị hệ thống đánh lửa Magneto bền và dễ dùng đáp ứng nhu cầu nấu nướng cơ bản của người dùng.', N'DM001')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[LienHe] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDo__IdDon__5070F446] FOREIGN KEY([IdDonHang])
REFERENCES [dbo].[DonHang] ([IdDonHang])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK__ChiTietDo__IdDon__5070F446]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDon__IdSP__5165187F] FOREIGN KEY([IdSP])
REFERENCES [dbo].[SanPham] ([IdSP])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK__ChiTietDon__IdSP__5165187F]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc_DanhMuc] FOREIGN KEY([IdSP])
REFERENCES [dbo].[SanPham] ([IdSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_DanhMuc_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_IdDanhMuc] FOREIGN KEY([IdDanhMuc])
REFERENCES [dbo].[DanhMuc] ([IdDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_IdDanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_SanPham] FOREIGN KEY([IdSP])
REFERENCES [dbo].[SanPham] ([IdSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_SanPham]
GO
USE [master]
GO
